/* start of  Global  */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.global-button {
  border: none;
  padding: 10px 20px;
  background-color: #ff0a54;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.global-button:hover {
  background-image: linear-gradient(red, blue);
}

.login-button {
  margin-left: 550px;
  margin-top: 25px;
  cursor: pointer;
}
/* end of Global */

/* start of nav */
.nav-container {
  display: flex;
  margin-left: 100px;
}
.nav-container a {
  text-decoration: none;
  color: white;
  margin-top: 8px;
  margin-right: 25px;
  font-size: 16px;
  margin-top: 25px;
}
/* end of nav */

/* start of top banner/Header */
.header {
  background-color: rgb(63, 63, 255);
}

.banner-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top-banner {
  margin-left: 100px;
  margin-right: 100px;
}

.banner-text h1 {
  font-size: 60px;
  color: white;
  width: 85%;
  margin-bottom: 15px;
  font-weight: bolder;
  transition: all 1s ease-in-out;
}

.header:hover h1 {
  transform: scale(1.2);
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* end of top banner/Header */

/*start of Player card  */
.player-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin-top: 60px;
  margin-left: 175px;
  width: 76%;
}
.player-card {
  width: 300px;
  padding: 15px;
  margin-bottom: 25px;
  margin-right: 0;
  box-shadow: 10px 3px 33px -2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 10px 3px 33px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 3px 33px -2px rgba(0, 0, 0, 0.56);
}
.player-card-photo img {
  width: 300px;
  height: 256px;
}

/*End of Player card  */

/* Start of highlights section */
.highlights-section {
  margin-top: 70px;
}
.highlights-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 80%;
  column-gap: 35px;
  margin-left: 160px;
}

.highlights-section-text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
/* End of highlights section */

/* Start of gallery section  */

.gallery-section-container {
  margin-top: 80px;
}

.gallery-title-container h1 {
  font-size: 40px;
  text-align: center;
}
.gallery-images-container img {
  width: 300px;
  height: 380px;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.gallery-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 30px;
}

/* End  of gallery section */

/* start of subscription-section */
.subscription-section-container {
  margin-top: 70px;
}
.subscription-section-title h2 {
  text-align: center;
  font-size: 30px;
}
.subscription-form-container {
  text-align: center;
}
.subscription-form-container input {
  padding: 10px 120px;
  text-transform: uppercase;
  border-radius: 30px;
  border-style: none;
  border: 1px solid #ff0a54;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* End of subscription-section */

/* Start of footer */

.footer-logo-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.footer-logo-container img {
  width: 400px;
}
.social-media-links {
  margin: 0 auto;
  text-align: center;
}
.social-media-links a {
  color: #ff0a54;
  font-size: 2em;
  margin-right: 10px;
}
.footer-container p {
  text-align: center;
}
.footer-container {
  margin-bottom: 20px;
}
/* End of footer */

/* MEDIA SCREEN */
@media screen and (max-width: 580px) {
  .top-banner {
    margin-left: 100px;
    margin-right: 100px;
  }
  .nav-container a {
    display: none;
  }
  .login-button {
    margin-left: 280px;
    margin-top: 25px;
    cursor: pointer;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .banner-grid-container {
    display: block;
    width: 100%;
  }
  .banner-text {
    margin-bottom: 50px;
  }
  .banner-image img {
    width: 380px;
  }
  .player-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .player-cards-container {
    width: 50%;
    display: block;
    margin-left: 0%;
    margin-bottom: 20px;
    padding-top: 15px;

    gap: 30px;
    margin-top: 50px;
    margin-left: 80px;
    max-width: 50%;
  }

  .highlights-section-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 50%;
    column-gap: 0px;
    margin: 0;
    padding: 0;
    margin-left: 0px;
  }
  .highlights-section-text h1 {
    margin-left: 50px;
    font-size: 40px;
    width: 250px;
  }
  .highlights-section-text button {
    margin-left: 50px;
  }
  .highlights-section-text p {
    margin-left: 50px;
  }
  .highlights-image img {
    width: 400px;
    padding-top: 15px;
    margin-left: 40px;
  }
  .gallery-images-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 40%;
  }
  .gallery-images-container img {
    width: 400px;
    margin-left: 15px;
  }
  .subscription-section-title h2 {
    font-size: 20px;
  }
  .subscription-form-container input {
    width: 78px;
  }
  .footer-logo-container img {
    width: 250px;
  }
  .social-media-links a {
    font-size: 25px;
  }
}
@media screen and (min-width: 580px) and (max-width: 992px) {
  .nav-container {
    margin-left: 5%;
  }
  .banner-title h1 {
    font-size: 30px;
  }
  .global-button {
    padding: 10px 15px;
  }
  .banner-text {
    margin-right: 40px;
  }
  .banner-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-image img {
    width: 250px;
    margin-top: 80px;
    margin-left: 0%;
  }
  .top-banner {
    width: 40%;
  }
  .login-button {
    margin-left: 0;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 20px;
    margin-right: 10px;
    height: 25px;
    width: 120px;
  }
  .player-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin-left: 30px;
    margin-right: 40px;
    width: 30%;
  }

  .player-card {
    margin-left: 40px;
    margin-bottom: 10px;
    width: 200px;
  }
  .player-card-text p {
    font-size: 10px;
  }
  .player-card-photo img {
    width: 200px;
    height: 250px;
  }
  .gallery-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    max-width: 50%;
    margin-left: 110px;
  }

  .gallery-images-container img {
    width: 200px;
    height: 200px;
    margin-right: 40px;
  }
  .subscription-section-title h2 {
    font-size: 23px;
  }
  .highlights-section-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
  .highlights-section-text h1 {
    font-size: 30px;
    width: 200px;
  }
  .highlights-section-text p {
    font-size: 10px;
    width: 200px;
  }
  .highlights-image img {
    width: 400px;

    margin-top: 10px;
    margin-left: 0px;
  }
  .footer-logo-container img {
    width: 200px;
  }
  .social-media-links a {
    font-size: 25px;
  }
}
/* END OF MEDIA SCREEN */
